body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: #f4f4f4;
}

header {
  background: linear-gradient(to right, #1e5799, #2989d8, #207cca, #7db9e8);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5vh 0.5vh;
}

.logo {
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 5px;
}

.about-section {
  padding: 10vh 20px 20px 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #2e2e2e;
  color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.about-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.about-section h3 {
  margin-top: 20px;
  color: #fff;
}

.about-section p {
  margin-bottom: 20px;
  color: #ccc;
}

.founder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  margin: 10px;
}

.team-member img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h4 {
  margin: 10px 0 5px 0;
  color: #fff;
}

.team-member p {
  color: #ccc;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  bottom: 0;
}
